@import './vendor/_variables.scss';

body{
    background-color: $bgColor;
}
.carousel-item {
    background-color: $color;
    height: 110vh;
}
.test {
    background-color: red;
    @include breakpoint(sm) {
      background-color: greenyellow;
    }
  }